---
import type { MarkdownHeading } from "astro";
import { siteConfig } from "@/config";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";

interface Props {
	headings: MarkdownHeading[];
	indicatorId?: string;
	indicatorClass?: string;
	showIndicator?: boolean;
}

const {
	headings = [],
	indicatorId = "active-indicator",
	indicatorClass = "",
	showIndicator = true,
} = Astro.props;

const maxLevel = siteConfig.toc?.depth ?? 2;

let minDepth = 10;
for (const heading of headings) {
	minDepth = Math.min(minDepth, heading.depth);
}

const visibleHeadings = headings.filter(
	(heading) => heading.depth < minDepth + maxLevel,
);

const removeTrailingHash = (text: string) => {
	const lastHashIndex = text.lastIndexOf("#");
	if (lastHashIndex !== text.length - 1) {
		return text;
	}
	return text.substring(0, lastHashIndex);
};

let headingCount = 1;
---

{
	visibleHeadings.length > 0 ? (
		visibleHeadings.map((heading) => (
			<a
				href={`#${heading.slug}`}
				class="px-2 flex gap-2 relative transition w-full min-h-9 rounded-xl hover:bg-[var(--toc-btn-hover)] active:bg-[var(--toc-btn-active)] py-2"
				data-heading-id={heading.slug}
			>
				<div
					class:list={[
						"transition w-5 h-5 shrink-0 rounded-lg text-xs flex items-center justify-center font-bold",
						{
							"bg-[var(--toc-badge-bg)] text-[var(--btn-content)]":
								heading.depth === minDepth,
							"ml-4": heading.depth === minDepth + 1,
							"ml-8": heading.depth === minDepth + 2,
						},
					]}
				>
					{heading.depth === minDepth && headingCount++}
					{heading.depth === minDepth + 1 && (
						<div class="transition w-2 h-2 rounded-[0.1875rem] bg-[var(--toc-badge-bg)]"></div>
					)}
					{heading.depth === minDepth + 2 && (
						<div class="transition w-1.5 h-1.5 rounded-sm bg-black/5 dark:bg-white/10"></div>
					)}
				</div>
				<div
					class:list={[
						"transition text-sm",
						{
							"text-50":
								heading.depth === minDepth || heading.depth === minDepth + 1,
							"text-30": heading.depth === minDepth + 2,
						},
					]}
				>
					{removeTrailingHash(heading.text)}
				</div>
			</a>
		))
	) : (
		<div class="px-4 py-6 text-sm text-50">{i18n(I18nKey.tocEmpty)}</div>
	)
}

{
	showIndicator &&
		visibleHeadings.length > 0 && (
			<div
				id={indicatorId}
				style="opacity: 0"
				class:list={[
					"-z-10 absolute bg-[var(--toc-btn-hover)] left-0 right-0 rounded-xl transition-all group-hover:bg-transparent border-2 border-[var(--toc-btn-hover)] group-hover:border-[var(--toc-btn-active)] border-dashed",
					indicatorClass,
				]}
			></div>
		)
}
